{% extends "base.html" %}

{% block meta %}
<meta name="description" content="Travel blog - Your source of travel tips and news">
{% endblock %}
{% block title %}Sweet Panda's Handicraft{% endblock %}

{% block content %}

<!-- Content -->
    <!-- Main image -->
    <section class="container-fluid HOME-img-main">
        <h1 class="HOME-special-font HOME-title">Sweet Panda's Handicraft</h1>
        <p class="HOME-sub-title"><span>Make your very own Bouquet and Handicraft seamless..:)</span></p>
    </section>

    <!-- Cards: Themes -->
    <section class="container-fluid mt-4">
        <div class="row justify-content-center">
            {% for item in hasil %}
            <div class="col col-auto mb-3 HOME-theme-btn">
                <a class="ALL-no-hover" href="/post/{{ loop.index }}">
                    <div class="card h-100" style="width: 10rem; border:none;">
                        <img src="{{ item.image }}" class="card-img-top HOME-round-img" alt="Theme" />
                        <div class="card-footer HOME-card-footer" style="display:flex; justify-content: center;">
                            <small class="text-muted ALL-no-hover" style="font-weight:bold;">{{ item.id }}</small>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </section>

    <!-- Cards: Beach -->
    <section class="container-fluid">
        <div class="row justify-content-center">
            <div class="col col-auto mb-3">
                <a class="ALL-no-hover" href="">
                    <div class="card h-100 HOME-card ALL-post-hover" style="width: 18rem;">
                        <img src="" class="card-img-top" alt="" />
                        <div class="card-body">
                            <h5 class="card-title ALL-no-hover"></h5>
                        </div>
                        <div class="card-footer HOME-card-footer">
                            <small class="text-muted ALL-no-hover"></small>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>

    <!-- Cards: Culture -->
    <section class="container-fluid mt-4 HOME-backg">
        <div class="row justify-content-center">
            <div class="col col-auto mb-3">
                <a class="ALL-no-hover" href="">
                    <div class="card h-100 ALL-post-hover" style="width: 27.9rem;">
                        <img src="" class="card-img" alt="" />
                        <div class="card-img-overlay d-flex flex-column justify-content-end">
                        <div class="card-img-overlay">
                            <h5 class="card-title HOME-txt-background ALL-no-hover"></h5>
                            <p class="card-text HOME-txt-background ALL-no-hover"></p>
                        </div>
                        </div>
                    </div>
                </a>
        </div>
    </section>

    <!-- Cards: Nature -->
    <section class="container-fluid mt-4 HOME-backg">
        <div class="row justify-content-center">
            <div class="col col-auto mb-3">
                <a class="ALL-no-hover" href="">
                    <div class="card h-100 HOME-card ALL-post-hover" style="width: 18rem;">
                        <img src="" class="card-img-top" alt="" />
                        <div class="card-body">
                            <h5 class="card-title ALL-no-hover"></h5>
                        </div>
                        <div class="card-footer HOME-card-footer">
                            <small class="text-muted"></small>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>

    <!-- Cards: Culture -->
    <section class="container-fluid mt-4">
        <div class="row justify-content-center" >
            <a class="ALL-no-hover" href="">
                <div class="row no-gutters ALL-post-hover" style="width: 57rem;">
                    
                </div>
            </a>
        </div>
    </section>

    <!-- Cards: Cities -->
    <section class="container-fluid mt-4">
        <div class="row justify-content-center">
            <a class="ALL-no-hover" href="">
                <div class="col col-auto mb-3">
                    <div class="card h-100 HOME-card ALL-post-hover" style="width: 18rem; height: 380px !important;" >
                        <img src="" class="card-img-top" alt="" />
                        <div class="card-body">
                            <h5 class="card-title ALL-no-hover"></h5>
                        </div>
                        <div class="card-footer HOME-card-footer">
                            <small class="text-muted ALL-no-hover"></small>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </section>

{% endblock %}